<nav class="bg-gray-100 w-full" >
	<div class="w-full mx-auto border border-red-400 px-2">
		<div class="flex justify-between">
			<div
				class="flex space-x-4">
				<!-- logo -->
				<div>
					<a href="/home" class="flex items-center py-2 px-3 hover:bg-gray-300 rounded">
						<img src="../../../assets/jira.svg" class="h-6 w-6 mr-3" alt="Flowbite Logo"/>
						<span class="self-center text-1xl font-normal whitespace-nowrap">AMS</span>
					</a>
				</div>
				<!-- Primary  -->
				<ul class="hidden md:flex items-center space-x-3">
          <a class="py-2 px-3 hover:bg-gray-300 rounded myTabSelect" #menu id="Dashboards">
						<button #dropdownButton (click)="toggleMenu('Dashboards')" class="flex">
							<span class="flex">Dashboards</span>
							<svg class="w-5 h-5 ml-1 flex" aria-hidden="true" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path>
							</svg>
						</button>
						<div *ngIf="isMenuNameOpened==='Dashboards'" #menu>
              <div id="dropdownNavbar" class="z-10 font-normal bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-white dark:divide-gray-600 absolute border">
								<ul class="py-2 text-sm text-black" aria-labelledby="dropdownLargeButton">
									<li>
										<a routerlinkactive="router-link-active" [routerLink]="['/home/dashboard']" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white rounded myTabSelect" aria-current="page" (click)="clickOutside()">Dashboards</a>
									</li>
									<li>
                    <a routerlinkactive="router-link-active" [routerLink]="['/home/dashboard/assetsdashboard']" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white rounded myTabSelect" aria-current="page" (click)="clickOutside()">Assets Dashboard</a>
									</li>
									<li>
                    <a routerlinkactive="router-link-active" [routerLink]="['/home/dashboard/projectsdashboard']" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white rounded myTabSelect" aria-current="page" (click)="clickOutside()">Projects Dashboard</a>
									</li>
								</ul>
							</div>
						</div>
					</a>
          <a class="py-2 px-3 hover:bg-gray-300 rounded myTabSelect" #menu id="Assets">
						<button #dropdownButton (click)="toggleMenu('Assets')" class="flex" >
							<span class="flex">Assets</span>
							<svg class="w-5 h-5 ml-1 flex" aria-hidden="true" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path>
							</svg>
						</button>
						<div *ngIf="isMenuNameOpened==='Assets'">
              <div id="dropdownNavbar" class="z-10 font-normal bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-white dark:divide-gray-600 absolute border">
								<ul class="py-2 text-sm text-black" aria-labelledby="dropdownLargeButton">
									<li>
										<a routerlinkactive="router-link-active" [routerLink]="['assets/allassets']" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white rounded myTabSelect" aria-current="page" (click)="clickOutside()">All Assets</a>
									</li>
								</ul>
							</div>
						</div>
					</a>
          <a class="py-2 px-3 hover:bg-gray-300 rounded myTabSelect" #menu id="Projects">
						<button #dropdownButton (click)="toggleMenu('Projects')" class="flex" >
							<span class="flex">Projects</span>
							<svg class="w-5 h-5 ml-1 flex" aria-hidden="true" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path>
							</svg>
						</button>

						<div *ngIf="isMenuNameOpened==='Projects'">
							<div id="dropdownNavbar" class="z-10 font-normal bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-white dark:divide-gray-600 absolute border">
								<ul class="py-2 text-sm text-black" aria-labelledby="dropdownLargeButton">
                  <li>
										<a [routerLink]="['/home/projects/all']" routerlinkactive="router-link-active" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">All Projects</a>
									</li>
									<li>
										<a [routerLink]="['/home/projectA']" routerlinkactive="router-link-active" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Project A</a>
									</li>
									<li>
										<a [routerLink]="['/home/projectB']" routerlinkactive="router-link-active" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Project B</a>
									</li>
									<li>
										<a [routerLink]="['/home/projectC']" routerlinkactive="router-link-active" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Project C</a>
									</li>
								</ul>
								<div class="py-1">
									<a [routerLink]="['/home/createProject']" routerlinkactive="router-link-active" class="block px-4 py-2 text-sm text-black hover:bg-gray-100 dark:hover:text-white">Create Projects</a>
								</div>
							</div>
						</div>
					</a>
          <a class="py-2 px-3 hover:bg-gray-300 rounded myTabSelect" #menu id="Requests">
						<button #dropdownButton (click)="toggleMenu('Requests')" class="flex" >
							<span class="flex">Requests</span>
							<svg class="w-5 h-5 ml-1 flex" aria-hidden="true" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path>
							</svg>
						</button>
						<div *ngIf="isMenuNameOpened==='Requests'">
              <div id="dropdownNavbar" class="z-10 font-normal bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-white dark:divide-gray-600 absolute border">
								<ul class="py-2 text-sm text-black" aria-labelledby="dropdownLargeButton">
									<li>
										<a routerlinkactive="router-link-active" [routerLink]="['/home/requests/allrequests']" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white rounded myTabSelect" aria-current="page" (click)="clickOutside()">All Requests</a>
									</li>
									<li>
                    <a routerlinkactive="router-link-active" [routerLink]="['/home/requests/approved']" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white rounded myTabSelect" aria-current="page" (click)="clickOutside()">Approved</a>
									</li>
									<li>
                    <a routerlinkactive="router-link-active" [routerLink]="['/home/requests/closed']" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white rounded myTabSelect" aria-current="page" (click)="clickOutside()">Closed</a>
									</li>
								</ul>
							</div>
						</div>
					</a>
          <a class="py-2 px-3 hover:bg-gray-300 rounded myTabSelect" #menu id="Users Management">
						<button #dropdownButton (click)="toggleMenu('Users Management')" class="flex" >
							<span class="flex">Users Management</span>
							<svg class="w-5 h-5 ml-1 flex" aria-hidden="true" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path>
							</svg>
						</button>
						<div *ngIf="isMenuNameOpened==='Users Management'">
              <div id="dropdownNavbar" class="z-10 font-normal bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-white dark:divide-gray-600 absolute border">
								<ul class="py-2 text-sm text-black" aria-labelledby="dropdownLargeButton">
									<li>
										<a routerlinkactive="router-link-active" [routerLink]="['users/allusers']" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white rounded myTabSelect" aria-current="page" (click)="clickOutside()">All Users</a>
									</li>
								</ul>
							</div>
						</div>
					</a>
					<li>
						<button type="button" class="h-6 relative inline-flex items-center justify-center p-0.5 mt-1 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-blue-700 to-blue-500 hover:text-white dark:text-white focus:outline-none">
							<span mat-button (click)="openDialog()" class="text-black relative px-3 transition-all ease-in duration-75 bg-white rounded-md group-hover:bg-opacity-0">
								Create
							</span>
						</button>
					</li>
				</ul>
			</div>
			      <!-- Secondary -->
            <div class="hidden md:flex items-center space-x-1">
              <div
                class="py-1 px-3 text-sm text-gray-900 border border-gray-300 rounded bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"
              >
                <svg
                  class="inline-block w-5 h-5 text-black"
                  aria-hidden="true"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                    clip-rule="evenodd"
                  ></path>
                </svg>
                <input
                  class="inline-block focus:outline-none"
                  type="text"
                  id="search-navbar"
                  placeholder="Search..."
                />
              </div>
              <div
                class="py-1 px-2 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"
                appClickOutside
                (clickedOutside)="clickOutAvatar()"
              >
                <button #avatarButton type="button" (click)="toggleAvatar()">
                  <a>
                    <img
                      src="https://cdn-icons-png.flaticon.com/512/6386/6386976.png"
                      class="h-4"
                      alt="Flowbite Logo"
                    />
                    <span
                      class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"
                    ></span>
                  </a>
                </button>
                <div
                  *ngIf="isAvatarOpened"
                  class="z-50 my-4 text-base list-none bg-white divide-y divide-gray-300 rounded-sm shadow dark:bg-gray-900 dark:divide-gray-600 absolute right-0 top-8 mr-1 border-2 border-gray-300"
                  id="userDropdown"
                >
                  <div class="px-4 py-3">
                    <span
                      class="block text-sm text-gray-900 dark:text-white font-bold"
                    >
                      {{ userProfile?.fullName }}</span
                    >
                    <span
                      class="block text-gray-500 truncate dark:text-gray-400 text-xs"
                      >{{ userProfile?.email }}</span
                    >
                  </div>
                  <ul class="py-2" aria-labelledby="user-menu-button">
                    <li>
                      <a
                        class="px-4 py-2 text-sm text-gray-700 hover:bg-gray-300 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white inline-flex w-full cursor-pointer"
                        (click)="openPopupEditUserProfile()"
                      >
                        <svg
                          class="w-6 h-6 dark:text-white mr-3"
                          fill="none"
                          stroke="currentColor"
                          stroke-width="2"
                          viewBox="0 0 24 24"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path stroke="none" d="M0 0h24v24H0z" />
                          <path
                            d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z"
                          />
                          <circle cx="12" cy="12" r="3" />
                        </svg>
                        Manage Profile</a
                      >
                    </li>
                    <li>
                      <a
                        class="px-4 py-2 text-sm text-gray-700 hover:bg-gray-300 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white inline-flex w-full cursor-pointer"
                        (click)="signOut()"
                      >
                        <svg
                          class="w-6 h-5 dark:text-white mr-3"
                          fill="none"
                          stroke="currentColor"
                          stroke-width="2"
                          viewBox="0 0 24 24"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4" />
                          <polyline points="16 17 21 12 16 7" />
                          <line x1="21" y1="12" x2="9" y2="12" />
                        </svg>
                        Sign out</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
			<!-- Mobile Button Go Here -->
			<div class="md:hidden flex items-center">
				<button (click)="toggleMoblileButton();" (onchange)="getSelectTab();">
					<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
						<path stroke-linecap="round" stroke-linejoin="round" d="M10.5 6h9.75M10.5 6a1.5 1.5 0 11-3 0m3 0a1.5 1.5 0 10-3 0M3.75 6H7.5m3 12h9.75m-9.75 0a1.5 1.5 0 01-3 0m3 0a1.5 1.5 0 00-3 0m-3.75 0H7.5m9-6h3.75m-3.75 0a1.5 1.5 0 01-3 0m3 0a1.5 1.5 0 00-3 0m-9.75 0h9.75"/>
					</svg>
				</button>
			</div>
		</div>
		<!-- Mobile Menu -->
    <div id="ebar" class="d-none">
      <a
        [routerLink]="['/home/dashboard']"
        routerlinkactive="router-link-active"
        class="block py-2 px-3 myTabSelect"
        aria-current="page"
        id="Dashboards"
        >Dashboards</a
      >
      <a
        [routerLink]="['/home/assets']"
        routerlinkactive="router-link-active"
        class="block py-2 px-3 myTabSelect"
        id="Assets"
        >Assets</a
      >
      <a
        routerlinkactive="router-link-active"
        class="block py-2 px-3 myTabSelect"
        id="Projects"
        >Projects</a
      >
      <a
        [routerLink]="['/home/requests']"
        routerlinkactive="router-link-active"
        class="block py-2 px-3 myTabSelect"
        id="Requests"
        >Requests</a
      >
      <a
        [routerLink]="['/home/users']"
        routerlinkactive="router-link-active"
        class="block py-2 px-3 myTabSelect"
        id="Users Management"
        >Users Management</a
      >
      <a class="block py-2 px-3">
        <button
          #dropdownButton
          (click)="isProjectMobileOpened = true"
          class="flex"
        >
          <span class="flex">User</span>
          <svg
            class="w-5 h-5 ml-1 flex"
            aria-hidden="true"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
              clip-rule="evenodd"
            ></path>
          </svg>
        </button>

        <div *ngIf="isProjectMobileOpened">
          <a
            class="px-4 py-2 text-sm text-gray-700 hover:bg-gray-300 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white inline-flex w-full cursor-pointer"
            (click)="openPopupEditUserProfile()"
          >
            <svg
              class="w-6 h-6 dark:text-white mr-3"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path stroke="none" d="M0 0h24v24H0z" />
              <path
                d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z"
              />
              <circle cx="12" cy="12" r="3" />
            </svg>
            Manage Profile</a
          >
          <a
                  class="px-4 py-2 text-sm text-gray-700 hover:bg-gray-300 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white inline-flex w-full cursor-pointer"
                  (click)="signOut()"
                >
                  <svg
                    class="w-6 h-5 dark:text-white mr-3"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4" />
                    <polyline points="16 17 21 12 16 7" />
                    <line x1="21" y1="12" x2="9" y2="12" />
                  </svg>
                  Sign out</a
                >
        </div>
      </a>
    </div>
	</div>
</nav>
