.dialog {
  display: grid;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding-top: 10px;
  padding-bottom: 10px;
  max-height: 600px;
  font-family: Arial, Helvetica, sans-serif;
}

.btn {
  margin-right: 8px;
}

button:hover {
  background-color: red;
}

.dialog-actions{
  margin-left: 10px;
  align-items: center;
  justify-content: center;
}
